body {
	font-family: arial;
	
}

.tab-logo {
  width: 16px;
  height: 16px;
  margin-right: 1em;
  }

.shortuuid-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 600px;
	background-color: yellow;
	border-style: none;
	
}

#screen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	display: none;
}

.notification-bar {
	background: #FFFF90;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1.4em;
	padding-top: 0.2em;
	text-color: black;
	display: none;
	text-align: center;
	font-family: arial;
}

.mach-state-icon {
	margin-left: 4px;
	margin-right: 4px;
}

.vm-state-FirstOnline {
	content: url(/static/icon-play.png);
}

.vm-state-PoweredOff {
	content: url(/static/icon-stop.png);
}

.vm-state-Aborted {
	content: url(/static/icon-stop.png);
}

.vm-state-Paused {
	content: url(/static/icon-pause.png);
}

.vm-state-Starting {
	content: url(/static/icon-play.png);
	animation: softblink 0.3s infinite alternate;
}

.vm-state-Stopping {
	content: url(/static/icon-stop.png);
	animation: softblink 0.3s infinite alternate;
}

@keyframes softblink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/*
Machine Control pop-up menu
===========================
*/

.mach-control-menu {
  -webkit-user-select: none;
  display: none;
  position: absolute;
  left: 400px;
  top: 100px;
  min-width: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f7f3f7;
  border: 2px solid #f7f7f7;
  outline: 1px solid #949694;
  font-weight: bold;
}

.mach-control-menu > li {
  margin: 2px 0 0 0;
  padding: 2px 0 2px 0;
  background-repeat: no-repeat;
    width: 100%;
}

.mach-control-menu > li:hover {
  background: cyan;
    cursor: default;
    width: 100%;
}

#mach-control-menu-screen {
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	zIndex: 1000000;
	display: none;
}

.menu-grayed {
	background-color: black;
	opacity: 0.5;
}




