body {
	font-family: tahoma;
	
}

.tab-logo {
  width: 16px;
  height: 16px;
  margin-right: 1em;
  }

.mach-memory {
	text-align: center;
	display: block;
}

.mach-memory:after {
	content: " MB";
}

.mach-cpus {
	text-align: center;
	display: block;
}


.shortener-short {
	font-family: 'Roboto Mono';
	text-transform: uppercase;
}

.shortener-long {
	font-family: 'Roboto Mono';
	text-transform: uppercase;
	position: absolute;
	display: none;
	margin: -1px 0 0 -5px;
	padding: 0 4px 0 4px;
	border: 1px solid #909090;
	background: #C0C0C0;
	border-radius: 5px;
}


.shortuuid-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 600px;
	background-color: yellow;
	border-style: none;
	
}

#screen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	display: none;
}

.notification-bar {
	background: #FFFF90;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1.4em;
	padding-top: 0.2em;
	text-color: black;
	display: none;
	text-align: center;
}

.mach-state-icon {
	margin-left: 4px;
	margin-right: 4px;
}

.vm-state-FirstOnline {
	content: url(/static/icon-play.png);
}

.vm-state-PoweredOff {
	content: url(/static/icon-stop.png);
}

.vm-state-Aborted {
	content: url(/static/icon-stop.png);
}

.vm-state-Paused {
	content: url(/static/icon-pause.png);
}

.vm-state-Starting {
	content: url(/static/icon-play.png);
	animation: softblink 0.3s infinite alternate;
}

.vm-state-Stopping {
	content: url(/static/icon-stop.png);
	animation: softblink 0.3s infinite alternate;
}

.vm-state-_pending {
	content: url(/static/ajax-loader.gif);
}

@keyframes softblink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


/*
Machine Control pop-up menu
===========================
*/

.mach-control-menu {
  -webkit-user-select: none;
  display: none;
  position: absolute;
  left: 400px;
  top: 100px;
  min-width: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f7f3f7;
  border: 2px solid #f7f7f7;
  outline: 1px solid #949694;
}

.mach-control-menu > li {
  margin: 2px 4px 0 0;
  padding: 4px 0 4px 0;
  background-repeat: no-repeat;
  width: 100%;
}

.mach-control-menu > li > a {
	text-decoration: none;
	color: #000000;
	cursor: default;
}

.mach-control-menu > li.menu-grayed > a {
	color: #808080;
}

.mach-control-menu > li:hover {
  background: #A0A0A0;
  width: 100%;
}

.mach-control-menu > li.menu-grayed:hover {
  background: none;
}

.mach-control-menu > li > img {
	padding-right: 4px;
	display: inline-block;
	transform: translateY(0.2em);
}

#mach-control-menu-screen {
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	zIndex: 1000000;
	display: none;
}

/*
Machine Control pop-up menu
===========================
Source: http://keith-wood.name/uitabs.html#tabs-nobg
*/
.tabs-nohdr { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
.tabs-nohdr .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
.tabs-nohdr .ui-tabs-panel { 
	border: none;
     
}

.tabs-nohdr .ui-tabs-nav {
	padding-left: 20px;
}


