.tab-logo {
  width: 16px;
  height: 16px;
  margin-right: 1em;
  }

.shortuuid-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 600px;
	background-color: yellow;
	border-style: none;
	
}

#screen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	display: none;
}

.notification-bar {
	background: #FFFF90;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1.4em;
	padding-top: 0.2em;
	text-color: black;
	display: none;
	text-align: center;
	font-family: arial;
}

.mach-state-icon {
	margin-left: 4px;
	margin-right: 4px;
}

.vm-state-FirstOnline {
	content: url(/static/icon-play.png);
}

.vm-state-PoweredOff {
	content: url(/static/icon-stop.png);
}

.vm-state-Aborted {
	content: url(/static/icon-stop.png);
}

.vm-state-Paused {
	content: url(/static/icon-pause.png);
}

